<div id="wmm-carousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
   	<div class="active item"><%= render "pages/services/web_copy" %></div>
	<div class="item"><%= render "pages/services/social_media" %></div>
	<div class="item"><%= render "pages/services/magazine" %></div>
  </div>
  <!-- Carousel nav -->
  <!--<a class="left carousel-control" href="#wmm-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#wmm-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>-->
	<ol class="carousel-indicators">
    	<li data-target="#wmm-carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#wmm-carousel" data-slide-to="1"></li>
		<li data-target="#wmm-carousel" data-slide-to="2"></li>
  	</ol>
</div>