<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 feature vcenter">
	    	<%= image_tag("tablet.png")%>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 feature vcenter">
			<h2>Web Copy</h2>
			<hr class="colorgraph">
	        <p>Nulla eu elit vitae arcu vehicula lacinia. Nullam a purus orci. In cursus felis eget eleifend ultrices. Nam vel facilisis risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique lacus vitae orci malesuada, a commodo velit euismod. Sed sodales pulvinar cursus.</p>
			<hr class="colorgraph">
			<%= link_to "Find out more", '#', class: "btn btn-default btn-block btn-lg" %>
		</div>
	</div>
</div>