<% flash.each do |name, msg| %>
 	<div class="<%= 'alert-home' if current_page?(root_path) %> alert alert-<%= name == :notice ? "success" : "error" %> fade in">
	 	<a class="close" data-dismiss="alert">&#215;</a>
	   	<%= content_tag :div, msg, :id => "flash" if msg.is_a?(String) %>
	</div>
<% end %>