<center>
	<h1>We write totally awesome editorial</h1>
	<hr class="colorgraph-dark">
</center>

<div class="bs-docs-section">	
	<div class="row bs-downloads" style="margin-bottom: 20px;">
		<div class="col-sm-4">
			<center>
			<i class="fa fa-files-o xl"></i>
			<h3 id="download-bootstrap">Web Copy</h3>
			<p>Compiled and minified CSS, JavaScript, and fonts. No docs or original source files are included.</p>
			<%= link_to "Copy me", '#', class: "btn btn-default btn-large", data: { slide: 0 } %>
			</center>
		</div>
		<div class="col-sm-4">
			<center><i class="fa fa-comment xl"></i>
			<h3 id="download-source">Social Media</h3>
			<p>Source Less, JavaScript, and font files, along with our docs. Requires a Less compiler and setup.</p>
			<%= link_to "Hit me up", '#', class: "btn btn-default btn-large", data: { slide: 1 } %>
			</center>
		</div>
		<div class="col-sm-4">
			<center><i class="fa fa-tablet xl"></i>
			<h3 id="download-sass">Digital Magazines</h3>
			<p><a href="#">Bootstrap ported from Less to Sass</a> for easy inclusion in Rails, Compass, or Sass-only projects.</p>
			<%= link_to "Dazzle me", '#', class: "btn btn-default btn-large", data: { slide: 2 } %>
			</center>
		</div>
	</div>
</div>