<div id="wmm-carousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#wmm-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#wmm-carousel" data-slide-to="1"></li>
	<li data-target="#wmm-carousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag('banner.jpg') %></div>
    <div class="item"><%= image_tag('macarons.jpg') %></div>
	<div class="item"><%= image_tag('lights.jpg') %></div>
  </div>
  <!-- Carousel nav -->
  <a class="left carousel-control" href="#wmm-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#wmm-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>