<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<h1>401 You need to sign in or sign up before continuing.<br></h1>
		<hr class="colorgraph-dark">
		<% if @exception %>
		  <p><%= @exception.message %></p>
		<% else %>
		  <p>You must be logged in to access this feature</p>
		<% end %>
		<%= link_to raw('<i class="fa fa-home"></i> Home'), root_path %>
	</div>
</div>