@import "variables";
@import "bootstrap";

html, body {
	font-family: $lucida;
}
footer {
	&#homepage {
		min-height:250px;
		background: #333;
		color: $ice;
		@extend .main-section;
		.container {
			padding-top: 20px;
		}
	}	
}

// Sections
.main-section {
	min-height: 375px;
	background-position: center center;
	width:100%;
	@include box-sizing(border-box);
	position:relative;
	.container {
		margin: auto;
	}
}
#home {
	@extend .main-section;
	min-height:325px;
	background: url(banner.jpg);
	background-size:100%;
	color: #fff;
	margin: auto;
	center {
		margin-top: 90px;
	}
}
#services {
	@extend .main-section;
}
#services-dropdown {
	@extend .main-section;
	display:none;
	background: #222;
	img {
		height:375px;
		text-align:center;
	}
}
#about {
	@extend .main-section;
	background: $ice;
}
#contact {
	@extend .main-section;
	min-height: 325px;
}

// buttons

.default {
	@extend .btn;
	@extend .btn-default;
}

// Colorgraph
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

