@import "variables";

// Containers

.container {
	margin-bottom: 20px;
}
// Navbar
.navbar {
	margin-bottom: 0px;
}

// Icons

.fa.xl {
	font-size: 4em;
}

// Flash messages

.alert {
	padding: 15px;
	margin: 15px auto;
	border: 1px solid transparent;
	border-radius: 0px;
	color: #fff;
}
.alert-home {
	margin: 0px auto;
}
.alert-success {
	background: $green;
}
.alert-error {
	background: $red;
}