@import "variables";

// Containers

.container {
	margin-bottom: 20px;
}
// Navbar
.navbar {
	margin-bottom: 0px;
	background: #fff;
	.container-fluid {
		max-width:1170px;
	}
}

// Carousel
.carousel-indicators {
	width:100%;
	position:relative;
	left: auto;
	bottom: auto;
	right: auto;
	margin: 10px auto 20px;
	li {
		border: 1px solid #eee;
		background-color: #eee;
	}
}

// Icons

.fa.xl {
	font-size: 4em;
}

// Flash messages

.alert {
	padding: 10px;
	margin: 15px auto;
	border: 1px solid transparent;
	color: #fff;
}
.alert-home {
	margin: 0px auto;
	border-radius: 0px;
}
.alert-success {
	background: $green;
}
.alert-error {
	background: $red;
}